.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; 
  text-align: center;
  border-radius: 10px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff6b00;
}

.form {
  text-align: left;
}

.mainFormGroup {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 10px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #aaa;
}

.input,
  .textarea {
    width: 100%;
    padding: 10px 5px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .input:focus,
  .textarea:focus {
    background-color: #ebebeb;
  }

.button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff4500;
}


.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Styles for screens with width less than 700px */
@media (max-width: 700px) {
  .title {
    font-size: 24px; 
    margin-bottom: 16px; 
  }

  .formGroup {
    margin-bottom: 16px; 
  }
  .mainFormGroup {
    grid-template-columns: 1fr; 
  }

  .input,
  .textarea {
    font-size: 16px; 
    padding: 8px 5px; 
  }

  .button {
    padding: 8px 16px; 
    font-size: 16px; 
  }
}