.combinedComponent {
    color: white;
    padding: 20px;
}

.container .inner1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.container .inner1 .seriesName {
    color: #aaa;
    font-weight: 600;
    letter-spacing: 1px;
}

.container .inner1 .teams {
    color: #aaa;
    font-weight: 500;
    text-transform: uppercase;
}

.container .status {
    color: #ff6b00;
}


.fullScoredContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D1D1D;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
}

.inner h3 {
    font-weight: 500;
    font-size: 18px;
}

.batingTable {
    width: 100%;
}

.batingTable thead {
    background-color: gray;
    font-size: 14px;
}

.batingTable td {
    padding: 5px;
    border-bottom: 1px solid rgb(48, 48, 48);
}

.batingTable tbody {
    font-size: 14px;
}

.fallOfWicktsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fallOfWicktsContainer h3 {
    background-color: gray;
    font-weight: 500;
    padding: 5px 15px;
    font-size: 14px
}

.fallOfWickts {
    font-size: 14px;
}

.bowlerContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bowlerContainer h3 {
    background-color: gray;
    font-weight: 500;
    padding: 5px 15px;
    font-size: 14px
}

.bowlerTable {
    width: 100%;
}



.bowlerTable thead {
    background-color: gray;
    font-size: 14px;
    text-align: left;
}

.bowlerTable td {
    padding: 5px;
    border-bottom: 1px solid rgb(48, 48, 48);
}

.bowlerTable tbody {
    font-size: 14px;
}

.bts {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    gap: 20px;
}

@media screen and (max-width:700px) {
    .batingTable thead {
        background-color: gray;
        font-size: 12px;
    }

    .batingTable tbody {
        font-size: 12px;
    }

    .bowlerTable tbody {
        font-size: 12px;
    }

    .bowlerTable thead {
        background-color: gray;
        font-size: 12px;
        text-align: left;
    }

    .fallOfWickts {
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {
    .batingTable thead {
        background-color: gray;
        font-size: 10px;
    }

    .batingTable tbody {
        font-size: 10px;
    }

    .bowlerTable tbody {
        font-size: 10px;
    }

    .bowlerTable thead {
        background-color: gray;
        font-size: 10px;
        text-align: left;
    }

    .fallOfWickts {
        font-size: 10px;
    }
}


@media screen and (max-width:400px) {
    .bts {
        display: flex;
        justify-content: space-between;
        padding-right: 00px;
        gap: 10px;
    }

    .batingTable thead {
        background-color: gray;
        font-size: 7px;
    }

    .batingTable tbody {
        font-size: 7px;
    }

    .bowlerTable tbody {
        font-size: 7px;
    }

    .bowlerTable thead {
        background-color: gray;
        font-size: 7px;
        text-align: left;
    }

    .fallOfWickts {
        font-size: 7px;
    }
}